In [30]:
# Project Summary: 
print('Project Summary:\n', "This notebook is used to extract data from the teacher's observation sheet template clean the data and prepare it for analysis.\n",
      '>> The data is cleaned by removing unnecessary columns and rows.\n',
      '>> The data is prepared for analysis by creating new columns and merging dataframes.\n',
      ">> Get the unique values in the required details column and corresponding value in Teacher's column and use as different columns.\n",
      '>> Extract the metadata from the metrics column and create new columns.\n',
      '>> The data is saved as a Excel file for analysis in the next notebook.\n')

Project Summary:
 This notebook is used to extract data from the teacher's observation sheet template clean the data and prepare it for analysis.
 >> The data is cleaned by removing unnecessary columns and rows.
 >> The data is prepared for analysis by creating new columns and merging dataframes.
 >> Get the unique values in the required details column and corresponding value in Teacher's column and use as different columns.
 >> Extract the metadata from the metrics column and create new columns.
 >> The data is saved as a Excel file for analysis in the next notebook.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm

# Import data
teach_data = pd.read_excel('Teach_Analysis Tool1.xlsx', sheet_name='Teacher 1')

In [2]:
# Print the first 5 rows of the dataframe.
print(teach_data.head())

   Unnamed: 0 Required Details Teacher's  Information  fig  \
0         NaN        SCHOOL ID             Kingsfield  NaN
1         NaN       TEACHER ID                  10012    0
2         NaN         CODER ID                  Godek  0.1
3         NaN          SUBJECT                English  0.1
4         NaN       CLASS SIZE                     20  0.1

                                             Metrics  Score  \
0                                       Time on Task    NaN
1                                   Time on learning    NaN
2  Teacher provides learning activity for most st...    1.0
3  Teacher provides learning activity for most st...    1.0
4  Teacher provides learning activity for most st...    1.0

  Analysis Tool Legend
0                   L=1
1                   M=3
2                   H=5
3               yes = 1
4                no = 0

In [3]:
# Explore data shape
print('Data Shape:\n', teach_data.shape, '\n')

# Print a summary of non-missing values and data types in the immigration_data DataFrame
print('Data Info:\n',teach_data.info())

Data Shape:
 (67, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              0 non-null      float64
 1   Required Details        10 non-null     object
 2   Teacher's  Information  10 non-null     object
 3   fig                     53 non-null     object
 4   Metrics                 67 non-null     object
 5   Score                   52 non-null     float64
 6   Analysis Tool Legend    7 non-null      object
dtypes: float64(2), object(5)
memory usage: 3.8+ KB
Data Info:
 None

In [20]:
# Select the columns that we need.
teach_data_clean = teach_data[["Required Details","Teacher's  Information",'fig', 'Metrics', 'Score']]

# Explore the data in teach_data_clean.
print('Data Shape:\n', teach_data_clean.shape, '\n')
print('Data Info:\n',teach_data_clean.info(), '\n')

# Print the unique values in the Required Details columns.
print('Unique Values in Required Details:\n', teach_data_clean['Required Details'].unique(), '\n')

# Comment.
print('Comment:\n', '>> I need separate each unique value into different column.', '\n')

Data Shape:
 (67, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Required Details        10 non-null     object
 1   Teacher's  Information  10 non-null     object
 2   fig                     53 non-null     object
 3   Metrics                 67 non-null     object
 4   Score                   52 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.7+ KB
Data Info:
 None

Unique Values in Required Details:
 ['SCHOOL ID' 'TEACHER ID' 'CODER ID' 'SUBJECT' 'CLASS SIZE'
 'CLASS SIZE(Boys)' 'CLASS SIZE(Girls)' 'SCHEDULED TIME' 'ACTUAL TIME'
 'SEGMENT LENGTH(Min)' nan]

Comment:
 >> I need separate each unique value into different column.

In [5]:
# Set the index to the Required Details column.
sch_id = teach_data_clean["Teacher's  Information"].iloc[0]
tch_id = teach_data_clean["Teacher's  Information"].iloc[1]
cdr_id = teach_data_clean["Teacher's  Information"].iloc[2]
sbj = teach_data_clean["Teacher's  Information"].iloc[3]
cla_sz = teach_data_clean["Teacher's  Information"].iloc[4]
cla_szb = teach_data_clean["Teacher's  Information"].iloc[5]
cla_szg = teach_data_clean["Teacher's  Information"].iloc[6]
sch_t = teach_data_clean["Teacher's  Information"].iloc[7]
act_t = teach_data_clean["Teacher's  Information"].iloc[8]
seg_len = teach_data_clean["Teacher's  Information"].iloc[9]


# Create the required details column.
teach_data_clean['School ID'] = sch_id
teach_data_clean['TEACHER ID'] = tch_id
teach_data_clean['Classroom ID'] = cdr_id
teach_data_clean['Subject'] = sbj
teach_data_clean['Class Size'] = cla_sz
teach_data_clean['CLASS SIZE(Boys)'] = cla_szb
teach_data_clean['CLASS SIZE(Girls)'] = cla_szg
teach_data_clean['SCHEDULED TIME'] = sch_t
teach_data_clean['ACTUAL TIME'] = act_t
teach_data_clean['SEGMENT LENGTH'] = seg_len

print(teach_data_clean.head())

  Required Details Teacher's  Information  fig  \
0        SCHOOL ID             Kingsfield  NaN
1       TEACHER ID                  10012    0
2         CODER ID                  Godek  0.1
3          SUBJECT                English  0.1
4       CLASS SIZE                     20  0.1

                                             Metrics  Score   School ID  \
0                                       Time on Task    NaN  Kingsfield
1                                   Time on learning    NaN  Kingsfield
2  Teacher provides learning activity for most st...    1.0  Kingsfield
3  Teacher provides learning activity for most st...    1.0  Kingsfield
4  Teacher provides learning activity for most st...    1.0  Kingsfield

   TEACHER ID Classroom ID  Subject  Class Size  CLASS SIZE(Boys)  \
0       10012        Godek  English          20                 8
1       10012        Godek  English          20                 8
2       10012        Godek  English          20                 8
3       10012        Godek  English          20                 8
4       10012        Godek  English          20                 8

   CLASS SIZE(Girls) SCHEDULED TIME ACTUAL TIME  SEGMENT LENGTH
0                 12       12:00:00    12:30:00              30
1                 12       12:00:00    12:30:00              30
2                 12       12:00:00    12:30:00              30
3                 12       12:00:00    12:30:00              30
4                 12       12:00:00    12:30:00              30

c:\Users\godek\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [21]:
# Comment.
print('Comment:\n', '>> Next step is to sort, group and separate the metadata in Metrics column.', '\n')

Comment:
 >> Next step is to sort, group and separate the metadata in Metrics column.

In [6]:
# Create a list of sub group metrics
metr_grp1 = ["Time on learning", "Autonomy", "Perserverance", "Social & Collaborative Skills", "Lesson Facilitation",\
    "Checks for Understanding", "Feedback", "Critical Thinking", "Supportive Learning Environment", "Positive Behavioural Expectations"]

# Create Time on learning to capture the required metrics  from the metrics column.
t_l = "Teacher provides learning activity for most students- 1st Snapshot|Teacher provides learning activity for most students- 2nd Snapsho|Teacher provides learning activity for most students- 3rd Snapshot|Students are on task- 1st Snapsho|Students are on task- 2nd Snapsho|Students are on task- 3rd Snapshot|Students are actively participating in learning tasks- 1st Snapshot|Students are actively participating in learning tasks- 2nd Snapshot|Students are actively participating in learning tasks- 3rd Snapshot"

# Create Autonomy to capture the required metrics  from the metrics column.
aut = "The teacher provides students with cho|The teacher provides students with opportunities to take on roles in the classr|The students volunteer to participate in the classr"

# Create Perserverance to capture the required metrics  from the metrics column.
pre = "The teacher acknowledges students’ effor|The teacher has a positive attitude toward students’ challeng|The teacher encourages goal sett"

# Create Social & Collaborative Skills to capture the required metrics  from the metrics column.
s_c = "The teacher promotes students’ collaboration through peer interactio|The teacher promotes students’ interpersonal skil|Students collaborate with one another through peer interacti"

# Create Lesson Facilitation to capture the required metrics  from the metrics column.
f_c = "The teacher redirects misbehavior and focuses on an expected behavior, rather than the undesired behav|The teacher explains content using multiple forms of representati|The teacher makes connections in the lesson that relate to other content knowledge, students’ daily lives, or real-world iss|The teacher models by demonstrating or thinking alo"

# Create Checks for Understanding to capture the required metrics  from the metrics column.
c_u = "The teacher uses questions, prompts or other strategies to determine students’ level of understandi|The teacher monitors most students during independent/group wor|The teacher adjusts teaching to the level of studen"

# Create Feedback to capture the required metrics  from the metrics column.
fd = "The teacher provides specific comments or prompts that help clarify students’ misunderstandin|The teacher provides specific comments or prompts that help identify students’ success"

# Create Critical Thinking to capture the required metrics  from the metrics column.
c_tt = "The teacher asks open-ended questio|The teacher provides thinking task|Students perform thinking tas|Students explain their thinking to the teacher or ask open-ended questio"

# Create Supportive Learning Environment to capture the required metrics  from the metrics column.
s_ln = "The teacher treats all students respectful|The teacher uses positive language with student|The teacher responds to students’ nee|The teacher does not exhibit bias and challenges stereotypes in the classroom-Gend|The teacher does not exhibit bias and challenges stereotypes in the classroom-Disabili|The teacher does not exhibit bias and challenges stereotypes in the classro"


# Create Positive Behavioural Expectations to capture the required metrics  from the metrics column.
pbe = "The teacher sets clear behavioral expectations for classroom activiti|The teacher acknowledges positive student behavio|The teacher redirects misbehavior and focuses on an expected behavior, rather than the undesired behavi"

In [ ]:
# Create conditions for values for metrics Grp to be created.
conditions = [
    (teach_data_clean['Metrics'].str.contains(t_l)),
    (teach_data_clean['Metrics'].str.contains(aut)),
    (teach_data_clean['Metrics'].str.contains(pre)),
    (teach_data_clean['Metrics'].str.contains(s_c)),
    (teach_data_clean['Metrics'].str.contains(f_c)),
    (teach_data_clean['Metrics'].str.contains(c_u)),
    (teach_data_clean['Metrics'].str.contains(fd)),
    (teach_data_clean['Metrics'].str.contains(c_tt)),
    (teach_data_clean['Metrics'].str.contains(s_ln)),
    (teach_data_clean['Metrics'].str.contains(pbe))
]

# Apply the conditions to create the metrics group.
teach_data_clean['Metrics Sub-grp1'] = np.select(conditions, metr_grp1, default='Other')

In [24]:
# Comment.
print('Comment:\n', '>> Next step is to validate data.', '\n')

Comment:
 >> Next step is to validate data.

In [8]:
# Get the unique values in the metrics group.
print('Unique values in metrics group:\n', teach_data_clean['Metrics Sub-grp1'].unique(), '\n')

# Get the unique values in the metrics where the metrics group is other.
other = teach_data_clean[teach_data_clean['Metrics Sub-grp1'] == 'Other']
print('Unique values in metric where metrics subgroup is Other:\n', other['Metrics'].unique())

Unique values in metrics group:
 ['Other' 'Time on learning' 'Supportive Learning Environment'
 'Positive Behavioural Expectations' 'Lesson Facilitation'
 'Checks for Understanding' 'Feedback' 'Critical Thinking' 'Autonomy'
 'Perserverance' 'Social & Collaborative Skills']

Unique values in metric where metrics subgroup is Other:
 ['Time on Task' 'Time on learning' 'overall score' 'Classroom Culture'
 'Supportive Learning Environment' 'Final element score'
 'Positive Behavioural Expectations ' 'Final element score ' 'Instruction'
 'Lesson Facilitation' 'Checks for Understanding' 'Feedback'
 'Critical Thinking' 'Socioemotional Skills ' 'Autonomy' 'Perserverance'
 'Social & Collaborative Skills ' 'Overall TEACH Result by teacher']

In [9]:
# Remove the rows where the metrics group is other.
teach_data_clean1 = teach_data_clean[teach_data_clean['Metrics Sub-grp1'] != 'Other']

In [10]:
# Create a list of sub group 2 metrics
metr_grp2 = ["Classroom Culture", "Instruction", "Socioemotional Skills", "Time on learning"]

# Create Classroom Culture to capture the required metrics  from the metrics subgrp1 column.
cl_c = "Supportive Learning Environme|Positive Behavioural Expectatio"

# Create Instruction to capture the required metrics  from the metrics subgrp1 column.
ins = "Lesson Facilitatio|Checks for Understandi|Feedba|Critical Thinki"

# Create Socioemotional Skills to capture the required metrics  from the metrics subgrp1 column.
s_sk = "Autono|Perserveranc|Social & Collaborative Skil"

# Create Time on learning to capture the required metrics  from the metrics subgrp1 column.
tol = "Time on learni"

In [ ]:
# Create conditions for values for metrics subGrp2 to be created.
conditions_grp2 = [
    (teach_data_clean1['Metrics Sub-grp1'].str.contains(cl_c)),
    (teach_data_clean1['Metrics Sub-grp1'].str.contains(ins)),
    (teach_data_clean1['Metrics Sub-grp1'].str.contains(s_sk)),
    (teach_data_clean1['Metrics Sub-grp1'].str.contains(tol))
]

# Apply the conditions to create the metrics group.
teach_data_clean1['Metrics Sub-grp2'] = np.select(conditions_grp2, metr_grp2, default='Other')

In [12]:
# Get the unique values in the metrics subgrp2.
print('Unique values in metrics subgrp2:\n', teach_data_clean1['Metrics Sub-grp2'].unique(), '\n')

# Get the unique values in the metrics where the metrics group is other.
other2 = teach_data_clean1[teach_data_clean1['Metrics Sub-grp2'] == 'Other']
print('Unique values in metric where metrics subgroup is Other:\n', other2['Metrics'].unique())

Unique values in metrics subgrp2:
 ['Time on learning' 'Classroom Culture' 'Instruction'
 'Socioemotional Skills']

Unique values in metric where metrics subgroup is Other:
 []

In [13]:
# Create a list of metrics group.
metr_grp = ["Time on Task",	"QUALITY OF TEACHING PRACTICES"]

# Create Time on Task to capture the required metrics  from the metrics subgrp2 column.
tot = "Time on learni"

# Create QUALITY OF TEACHING PRACTICES to capture the required metrics  from the metrics subgrp2 column.
qot = "Classroom Cultu|Instructi|Socioemotional Skil"

In [ ]:
# Create conditions for values for metrics subGrp2 to be created.
conditions_grp = [
    (teach_data_clean1['Metrics Sub-grp2'].str.contains(tot)),
    (teach_data_clean1['Metrics Sub-grp2'].str.contains(qot))
]

# Apply the conditions to create the metrics group.
teach_data_clean1['Metrics Group'] = np.select(conditions_grp, metr_grp, default='Other')

In [15]:
# Get the unique values in the metrics group.
print('Unique values in metrics group:\n', teach_data_clean1['Metrics Group'].unique(), '\n')

# Get the unique values in the metrics subgrp2 where the metrics group is other.
other3 = teach_data_clean1[teach_data_clean1['Metrics Group'] == 'Other']
print('Unique values in metric where metrics subgroup is Other:\n', other3['Metrics Sub-grp2'].unique())

Unique values in metrics group:
 ['Time on Task' 'QUALITY OF TEACHING PRACTICES']

Unique values in metric where metrics subgroup is Other:
 []

In [16]:
# Get the columns in the dataframe.
print(teach_data_clean1.columns)

Index(['Required Details', 'Teacher's  Information', 'fig', 'Metrics', 'Score',
       'School ID', 'TEACHER ID', 'Classroom ID', 'Subject', 'Class Size',
       'CLASS SIZE(Boys)', 'CLASS SIZE(Girls)', 'SCHEDULED TIME',
       'ACTUAL TIME', 'SEGMENT LENGTH', 'Metrics Sub-grp1', 'Metrics Sub-grp2',
       'Metrics Group'],
      dtype='object')

In [17]:
# Drop the columns('Required Details', 'Teacher's  Information', 'fig') that are not required.
structured_data = teach_data_clean1.drop(['Required Details', "Teacher's  Information", 'fig'], axis=1)

# Rearrange the columns in the dataframe.
desired_column_ord = ['School ID', 'TEACHER ID', 'Classroom ID', 'Subject', 'Class Size',
       'CLASS SIZE(Boys)', 'CLASS SIZE(Girls)', 'SCHEDULED TIME',
       'ACTUAL TIME', 'SEGMENT LENGTH','Metrics Group', 'Metrics Sub-grp2', 'Metrics Sub-grp1', 'Metrics', 'Score']

structured_data = structured_data[desired_column_ord]

print(structured_data.head())

    School ID  TEACHER ID Classroom ID  Subject  Class Size  CLASS SIZE(Boys)  \
2  Kingsfield       10012        Godek  English          20                 8
3  Kingsfield       10012        Godek  English          20                 8
4  Kingsfield       10012        Godek  English          20                 8
6  Kingsfield       10012        Godek  English          20                 8
7  Kingsfield       10012        Godek  English          20                 8

   CLASS SIZE(Girls) SCHEDULED TIME ACTUAL TIME  SEGMENT LENGTH Metrics Group  \
2                 12       12:00:00    12:30:00              30  Time on Task
3                 12       12:00:00    12:30:00              30  Time on Task
4                 12       12:00:00    12:30:00              30  Time on Task
6                 12       12:00:00    12:30:00              30  Time on Task
7                 12       12:00:00    12:30:00              30  Time on Task

   Metrics Sub-grp2  Metrics Sub-grp1  \
2  Time on learning  Time on learning
3  Time on learning  Time on learning
4  Time on learning  Time on learning
6  Time on learning  Time on learning
7  Time on learning  Time on learning

                                             Metrics  Score
2  Teacher provides learning activity for most st...    1.0
3  Teacher provides learning activity for most st...    1.0
4  Teacher provides learning activity for most st...    1.0
6            Students are on task- 1st Snapshot (4m)    1.0
7            Students are on task- 2nd Snapshot (9m)    0.0

In [18]:
# Export the data to a Excel file.
structured_data.to_excel('Teach_Sec.xlsx', index=False)